.imagen {
    width: 55px;
    height: 55px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.dropdown-toggle::after {
    display:none
}

.h4 {
	cursor: pointer;
}

.family {
	cursor: pointer;
}