<div [@routerTransition]>
  <!--Header de la página-->

  <section class="tables">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="card">

          <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="h4">
              <i class="fa fa-group"></i> Contactos</h3>
            <div class="search-bar">
              <form role="form" class="form-inline" #searchForm="ngForm">
                <input (ngModelChange)="search($event)" class="form-control" type="text" placeholder="Buscar" name="searchString" [(ngModel)]="searchString">
              </form>
            </div>
          </div>

          <div class="card-body">
            <tabset>
              <tab class="active">
                <ng-template tabHeading>
                  <i class="fa fa-th-list"></i>
                </ng-template>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Teléfono</th>
                      <th>Ocupación</th>
                      <th>
                        <a class="btn btn-success" (click)="openModal(template)">
                          <i class="fa fa-plus fa-inverse"></i>
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contact of contacts">
                      <td>
                        <a href="/contacts#" (click)="openModal(userTemplate,contact)">{{ contact.nombre }}</a>
                      </td>
                      <td>{{ contact.telefono }}</td>
                      <td>{{ contact.ocupacion }}</td>
                      <td>
                        <a (click)="openModal(template,contact)" class="btn btn-primary">
                          <i class="fa fa-pencil fa-inverse"></i>
                        </a>
                        <a class="btn btn-danger" (click)="openModal(confirmTemplate,contact)">
                          <i class="fa fa-trash-o fa-inverse"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="fa fa-th"></i>
                </ng-template>
                <div class="row">
                  <div *ngFor="let contact of contacts" class="col-md-3">
                    <app-contacto [contacto]="contact"></app-contacto>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col"></div>
              <div class="col align-self-center">
                <pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" 
                  (pageChanged)="pageChanged($event)" previousText="&lsaquo;" 
                  nextText="&rsaquo;" [(ngModel)]="currentPage"></pagination>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Modal para agregar usuario-->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{(!contacto.key) ? 'Agregar contacto' : 'Editar'}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let message of errorMessage">
          {{ message }}
        </li>
      </ul>
      <form role="form" #addContactForm="ngForm">
        <fieldset class="form-group">
          <label>Nombre:</label>
          <input class="form-control" name="nombre" [(ngModel)]="contacto.nombre">
        </fieldset>

        <fieldset class="form-group">
          <label>Teléfono:</label>
          <input class="form-control" name="telefono" [(ngModel)]="contacto.telefono">
        </fieldset>

        <fieldset class="form-group">
          <label>Ocupación:</label>
          <input class="form-control" name="ocupacion" [(ngModel)]="contacto.ocupacion">
        </fieldset>

        <fieldset class="form-group">
          <label>Dirección:</label>
          <input class="form-control" name="direccion" [(ngModel)]="contacto.direccion">
        </fieldset>

        <fieldset class="form-group">
          <label>URL:</label>
          <input class="form-control" name="url" [(ngModel)]="contacto.url">
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="submitModal()" class="btn btn-primary">{{ (!contacto.key) ? 'Agregar' : 'Guardar' }}</button>
    </div>
  </ng-template>

  <!--Modal user info-->
  <ng-template #userTemplate>
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <app-contacto [contacto]="contacto"></app-contacto>
        </div>
      </div>
    </div>
  </ng-template>

  <!--Modal confirmación eliminar-->
  <ng-template #confirmTemplate>
    <div class="modal-header">
      <p>
        <i class="fa fa-exclamation"></i>Alerta</p>
    </div>
    <div class="modal-body">
      ¿Está seguro que desea eliminar al contacto {{ contacto.nombre }}?
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="removeContact()">Si</button>
      <button class="btn btn-default" (click)="modalRef.hide()">No</button>
    </div>
  </ng-template>
</div>