<div [@routerTransition]>
  <!--Header de la página-->

  <section class="tables">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="card">

          <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="h4">
              <i class="fa fa-group"></i> Contactos &nbsp;&nbsp;
              <button class="btn btn-success" (click)="openModal(template)">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </h3>
            <div class="search-bar">
              <form role="form" class="form-inline" #searchForm="ngForm">
                <input (ngModelChange)="search($event)" class="form-control" type="text" placeholder="Buscar" name="searchString" [(ngModel)]="searchString">
              </form>
            </div>
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Ocupación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts" (click)="openModal(userTemplate,contact,'modal-lg')" class="list-item">
                  <td>
                    {{ contact.name }}
                  </td>
                  <td>{{ contact.phone }}</td>
                  <td>{{ contact.job }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col"></div>
              <div class="col align-self-center">
                <pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
                  nextText="&rsaquo;" [(ngModel)]="currentPage"></pagination>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Modal para agregar usuario-->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{(!contacto.id) ? 'Agregar contacto' : 'Editar'}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let message of errorMessage">
          {{ message }}
        </li>
      </ul>
      <form role="form" #addContactForm="ngForm">
        <fieldset class="form-group">
          <label>Nombre:</label>
          <input class="form-control" name="nombre" [(ngModel)]="contacto.name">
        </fieldset>

        <fieldset class="form-group">
          <label>Teléfono:</label>
          <input class="form-control" name="telefono" [(ngModel)]="contacto.phone">
        </fieldset>

        <fieldset class="form-group">
          <label>Ocupación:</label>
          <input class="form-control" name="ocupacion" [(ngModel)]="contacto.job">
        </fieldset>

        <fieldset class="form-group">
          <label>Correo:</label>
          <input class="form-control" name="email" [(ngModel)]="contacto.email">
        </fieldset>

        <fieldset class="form-group">
          <label>Dirección:</label>
          <input class="form-control" name="direccion" [(ngModel)]="contacto.address">
        </fieldset>

        <fieldset class="form-group">
          <label>Pagina web:</label>
          <input class="form-control" name="url" [(ngModel)]="contacto.webpage">
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="submitModal()" class="btn btn-primary">{{ (!contacto.id) ? 'Agregar' : 'Guardar' }}</button>
    </div>
  </ng-template>

  <!--Modal user info-->
  <ng-template #userTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Información de contacto</h4>
      <div class="btn-group pull-right" placement="bottom left" dropdown>
        <a href="javascript:void(0)" dropdownToggle class="dropdown-toggle">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem">
            <a (click)="openModal(template,contacto)" class="dropdown-item" href="javascript:void(0)">Editar</a>
          </li>
          <li role="menuitem">
            <a (click)="openModal(confirmTemplate,contacto)" class="dropdown-item" href="javascript:void(0)">Eliminar</a>
          </li>
          <li role="menuitem">
            <a (click)="modalRef.hide()" class="dropdown-item" href="javascript:void(0)">Cerrar</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="card-block col-lg-4">
          <div class="avatar">
            <img class="imagen" alt="" src="assets/images/user.png">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank">{{ contacto.name }}</a>
            </div>
            <div class="desc">{{ contacto.phone }}</div>
          </div>
        </div>
        <div class="col-lg-7 info-div">
          <div class="info">
            <div class="desc">
              <p>
                <b>Correo: </b> {{contacto.email}}</p>
              <p>
                <b>Ocupación: </b> {{contacto.job}}</p>
              <p>
                <b>Dirección: </b> {{contacto.address}}</p>
              <p>
                <b>Pagina web: </b> {{contacto.webpage}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="card contact hovercard">
            <div class="cardheader">
              <div class="btn-group pull-right" placement="bottom left" dropdown>
                <a href="javascript:void(0)" dropdownToggle class="dropdown-toggle">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                  <li role="menuitem">
                    <a (click)="openModal(template,contacto)" class="dropdown-item" href="javascript:void(0)">Editar</a>
                  </li>
                  <li role="menuitem">
                    <a (click)="openModal(confirmTemplate,contacto)" class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="avatar">
              <img alt="" src="../../assets/images/user.png">
            </div>
            <div class="info">
              <div class="title">
                <p target="_blank">{{ contacto.name }}</p>
              </div>
              <div class="desc">
                <b>Telefono:</b> {{ contacto.phone }}</div>
              <div class="desc">
                <b>Ocupación:</b> {{ contacto.job }}</div>
              <div class="desc">
                <b>Correo:</b> {{ contacto.email }}</div>
              <div class="desc">
                <b>Dirección:</b> {{ contacto.address }}</div>
              <div class="desc">
                <b>Pagina web:</b> {{ contacto.webpage }}</div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </ng-template>

  <!--Modal confirmación eliminar-->
  <ng-template #confirmTemplate>
    <div class="modal-header">
      <p>
        <i class="fa fa-exclamation"></i> Alerta</p>
    </div>
    <div class="modal-body">
      ¿Está seguro que desea eliminar al contacto {{ contacto.name }}?
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="removeContact()">Si</button>
      <button class="btn btn-default" (click)="modalRef.hide()">No</button>
    </div>
  </ng-template>
</div>