<div class="container" [@routerTransition]>
  <div class="row">
    <div class="col-xl-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <i class="fa fa-address-book"></i> Contactos
        </li>
        <li>
          <a class="button" rel="publisher"><i class="fa fa-plus"></i></a>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <app-contacto></app-contacto>
    </div>
    <div class="col-lg-3 col-sm-6">
      <app-contacto></app-contacto>
    </div>
    <div class="col-lg-3 col-sm-6">
      <app-contacto></app-contacto>
    </div>
    <div class="col-lg-3 col-sm-6">
      <app-contacto></app-contacto>
    </div>
    <div class="col-lg-3 col-sm-6">
      <app-contacto></app-contacto>
    </div>
  </div>
</div>