<div class="login-page">
    <div class="container d-flex align-items-center" [@routerTransition]>
        <div class="form-holder has-shadow">
            <div class="row">
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Family Assistant</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <img src="assets/images/logo.png" alt="">
                            <form id="login-form" (ngSubmit)="login()" role="form" #loginForm="ngForm" ngNativeValidate>
                                <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="Correo" id="login-username" type="text" name="email" [(ngModel)]="email" required>
                                </mat-form-field>
                                <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="Contraseña" id="login-password" type="password" name="loginPassword" [(ngModel)]="password" required>
                                </mat-form-field>
                                <div class="row">
                                    <input type="submit" id="login" class="btn btn-primary" value="Iniciar Sesión">
                                </div>
                            </form>
                            <small>¿No tienes una cuenta? </small>
                            <a [routerLink]="['/signup']" class="signup">Registro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular4</h1>
            <form (ngSubmit)="login()" role="form" #loginForm="ngForm" ngNativeValidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control input-underline input-lg" id="" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="" placeholder="Password" required>
                    </div>
                </div>
                <input type="submit" class="btn rounded-btn" value="Log in">
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>-->