<div [@routerTransition]>
    <section class="dashboard-solicitude">
        <div class="row">
            <div class="col-sm-6">
                <div class="card dashboard-card">
                    <div class="card-header">
                        Solicitudes.
                    </div>

                    <div class="card-body card-body-height">
                        <div class="row">
                            <div *ngFor="let boss of bosses" class="user-request">
                                <app-solicitude [boss]="boss"></app-solicitude>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="checklist card dashboard-card">
                    <div class="card-header d-flex align-items-center">
                        Pendientes.
                    </div>
                    <div class="card-body no-padding card-body-height">
                        <div class="item d-flex">
                            <label for="input-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                        </div>
                        <div class="item d-flex">
                            <label for="input-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                        </div>
                        <div class="item d-flex">
                            <label for="input-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                        </div>
                        <div class="item d-flex">
                            <label for="input-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                        </div>
                        <div class="item d-flex">
                            <label for="input-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>