<div [@routerTransition]>
    <section class="dashboard-solicitude">
        <div class="row">
            <div class="col-sm-6">
                <div class="articles card">
                    <div class="card-header d-flex align-items-center">
                        Solicitudes.
                    </div>
                    <div class="card-body no-padding card-body-height">
                        <div *ngFor="let boss of bosses">
                            <app-solicitude [boss]="boss"></app-solicitude>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="checklist card dashboard-card">
                    <div class="card-header d-flex align-items-center">
                        Pendientes.
                    </div>
                    <div class="card-body no-padding card-body-height">
                        <div *ngFor="let pending of pendings" (click)="openModal(pendingTemplate,pending)" class="item d-flex {{getLabel(pending)}}">
                            <label>{{pending.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-template #pendingTemplate>
    <div class="modal-header">
        <b>{{pending.name}}</b>
    </div>
    <div class="modal-body">
        <b>Descripción: </b> {{pending.description}}
    </div>
</ng-template>