.card.dashboard-card {
    margin-right: 40px;
}

.card-body-height {
    height: 350px;
    padding-top: 5px;
}

.dashboard-solicitude {
    margin-left: 40px;
}

.user-request {
    width: 110px;
    margin: 15px;
}