<div [@routerTransition]>
    <section class="dashboard-solicitude">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card dashboard-card">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <div class="btn btn-outline-danger" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged($event)">
                                            Anterior
                                        </div>
                                        <div class="btn btn-outline-danger" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged($event)">
                                            Hoy
                                        </div>
                                        <div class="btn btn-outline-danger" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged($event)">
                                            Siguiente
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h3>
                                        {{(view != 'day')? monthNames[viewDate.getMonth()] + ' ' + viewDate.getFullYear() : viewDate}}
                                    </h3>
                                </div>
                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <div class="btn btn-danger" (click)="view = 'month'" [class.active]="view === 'month'">
                                            Mes
                                        </div>
                                        <div class="btn btn-danger" (click)="view = 'week'" [class.active]="view === 'week'">
                                            Semana
                                        </div>
                                        <button class="btn btn-success" (click)="openModalEvent(newEventTemplate)">
                                            <i class="fa fa-plus"></i> Nuevo
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div [ngSwitch]="view">
                                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                                    [activeDayIsOpen]="activeDayIsOpen" [locale]="es-mx" (eventClicked)="displayInfo($event,eventInfoTemplate)">
                                </mwl-calendar-month-view>
                                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)" [locale]="es-mx">
                                </mwl-calendar-week-view>
                                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)">
                                </mwl-calendar-day-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="articles card dashboard-card">
                        <div class="card-header d-flex align-items-center">
                            Solicitudes.
                        </div>
                        <div class="card-body no-padding card-body-height">
                            <div *ngFor="let boss of bosses">
                                <app-solicitude [boss]="boss"></app-solicitude>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="checklist card dashboard-card">
                        <div class="card-header d-flex align-items-center">
                            Pendientes.
                        </div>
                        <div class="card-body no-padding card-body-height">
                            <div *ngFor="let pending of pendings" (click)="openModal(pendingTemplate,pending)" class="item d-flex {{getLabel(pending)}} justify-content-between">
                                <label>{{pending.name}}</label>
                                <div class="badge badge-primary">
                                    {{getType(pending.type)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ng-template #pendingTemplate>
    <div class="modal-header">
        <b>{{pending.name}}</b>
    </div>
    <div class="modal-body">
        <b>Descripción: </b> {{pending.description}}
    </div>
</ng-template>

<ng-template #newEventTemplate>
    <app-new-event-modal [longitude]="longitude" [latitude]="latitude" [zoom]="zoom" [dateModel]="dateModel" [event]="event"
        [modalRef]="modalRef">
    </app-new-event-modal>
</ng-template>

<ng-template #eventInfoTemplate>
    <app-event-info-modal [event]="event">
    </app-event-info-modal>
</ng-template>