<div [@routerTransition]>
    <app-page-header [heading]="'Editar'" [icon]="'fa-edit'"></app-page-header>
    <div class="col-lg-6">
      <form role="form">
          <fieldset class="form-group">
            <label>Rfc</label>
            <input class="form-control">
          </fieldset>
          <form role="form">
              <fieldset class="form-group">
                <label>Curp.</label>
                <input class="form-control">
              </fieldset>
          </form>
          <form role="form">
              <fieldset class="form-group">
                <label>Tipo de sangre.</label>
                <input class="form-control">
              </fieldset>
          </form>
          <form role="form">
              <fieldset class="form-group">
                <label>Teléfono.</label>
                <input class="form-control">
              </fieldset>
          </form>
          <form role="form">
              <fieldset class="form-group">
                <label>Número de seguro social.</label>
                <input class="form-control">
              </fieldset>
          </form>
      </form>
    </div>
</div>
