<div class="modal-header">
  <h4 class="modal-title pull-left">Info</h4>
  <div class="btn-group pull-right" placement="bottom left" dropdown>
    <a href="javascript:void(0)" dropdownToggle class="dropdown-toggle">
      <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem">
        <a (click)="openModal(editTemplate,illness)" class="dropdown-item" href="javascript:void(0)">Editar</a>
      </li>
      <li role="menuitem">
        <a (click)="openModal(confirmTemplate,illness)" class="dropdown-item" href="javascript:void(0)">Eliminar</a>
      </li>
      <li role="menuitem">
        <a (click)="modalRef.hide()" class="dropdown-item" href="javascript:void(0)">Cerrar</a>
      </li>
    </ul>
  </div>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div>
      <div>
        <b>Nombre: </b> {{ illness.name }}</div>
      <br>
      <div>
        <b>Medicamentos: </b>{{ illness.medicine }}</div>
      <br>
      <div>
        <b>Dosis: </b>{{ illness.dosage }}</div>
      <br>
      <div>
        <b>Tipo: </b>{{ (illness.type==0)? 'Dolor' : 'Enfermedad' }}</div>
    </div>
  </div>
</div>

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{(!illness.id)? 'Agregar enfermedad' : 'Editar enfermedad'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-new-illness-modal [modalRef]="modalRef" [illness]="illness"></app-new-illness-modal>
</ng-template>

<ng-template #confirmTemplate>
  <div class="modal-header">
    <p>
      <i class="fa fa-exclamation"></i>Alerta</p>
  </div>
  <div class="modal-body">
    ¿Está seguro que desea eliminar la enfermedad {{ illness.name }}?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="removeIllness()">Si</button>
    <button class="btn btn-default" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>