<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">
      <i class="fa fa-lock"></i> Seguros &nbsp; &nbsp;
    </h2>   
  </div>
</header>
<div class="inside-content">
  <mat-tab-group>
    <mat-tab label="Autos">
      <div class="tab-panel">
        <app-insurances-panel [insurances]="carInsurances"></app-insurances-panel>
      </div>
    </mat-tab>
    <mat-tab label="Casas">
      <div class="tab-panel">
        <app-insurances-panel [insurances]="homeInsurances"></app-insurances-panel>
      </div>
    </mat-tab>
  </mat-tab-group> 
</div>