<div [@routerTransition]>
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">
        <i class="fa fa-lock"></i>Safebox
        <span class="btn btn-success btn-file {{ upload.isUploading? 'disabled' : '' }}">
          <i class="fa fa-upload"></i> Upload
          <input name="file" (change)="uploadFile($event)" type="file" id="fileInput">
        </span>
        <span *ngIf="upload.isUploading">
          <i class="fa fa-spinner fa-pulse"></i>Subiendo el archivo {{ upload.progress }}%
        </span>
      </h2>
    </div>
  </header>
  <section class="dashboard-header">
    <div class="container-fluid">
      <div class="row">
        <div class="card hovercard file-div" *ngFor="let file of files">
          <img class="image" src="{{ file.type == 'image'? file.downloadUrl : 'assets/images/file.png' }}">
            <div class="title">
              <div class="desc">
                <a href="{{ file.downloadUrl }}">{{ file.filename }}</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>