<div class="modal-header">
    <h4 class="modal-title pull-left">Agregar contato</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let message of errorMessage">
        {{ message }}
      </li>
    </ul>
    <form role="form" #addContactForm="ngForm">
      <fieldset class="form-group">
        <label>Nombre:</label>
        <input class="form-control" name="nombre" [(ngModel)]="contacto.nombre">
      </fieldset>

      <fieldset class="form-group">
        <label>Teléfono:</label>
        <input class="form-control" name="telefono" [(ngModel)]="contacto.telefono">
      </fieldset>

      <fieldset class="form-group">
        <label>Ocupación:</label>
        <input class="form-control" name="ocupacion" [(ngModel)]="contacto.ocupacion">
      </fieldset>

      <fieldset class="form-group">
        <label>Dirección:</label>
        <input class="form-control" name="direccion" [(ngModel)]="contacto.direccion">
      </fieldset>

      <fieldset class="form-group">
        <label>URL:</label>
        <input class="form-control" name="url" [(ngModel)]="contacto.url">
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="addContact()" class="btn btn-primary">Agregar</button>
  </div>