<div class="card hovercard">
  <div class="cardheader">

  </div>
  <div class="avatar">
    <img alt="" src="../../assets/images/user.png">
  </div>
  <div class="info">
    <div class="title">
      <p target="_blank">{{ contacto.name }}</p>
    </div>
    <div class="desc">
      <b>Telefono:</b> {{ contacto.phone }}</div>
    <div class="desc">
      <b>Ocupación:</b> {{ contacto.job }}</div>
    <div class="desc">
      <b>Correo:</b> {{ contacto.email }}</div>
    <div class="desc">
      <b>Dirección:</b> {{ contacto.address }}</div>
    <div class="desc">
      <b>Pagina web:</b> {{ contacto.webpage }}</div>
  </div>
</div>