<div class="card hovercard">
  <div class="cardheader">

  </div>
  <div class="avatar">
    <img alt="" src="../../assets/images/user.png">
  </div>
  <div class="info">
    <div class="title">
      <p target="_blank">{{ contacto.nombre }}</p>
    </div>
    <div class="desc">
      <b>Telefono:</b> {{ contacto.telefono }}</div>
    <div class="desc">
      <b>Ocupación:</b> {{ contacto.ocupacion }}</div>
    <div class="desc">
      <b>Dirección:</b> {{ contacto.direccion }}</div>
    <div class="desc">
      <b>URL:</b> {{ contacto.url }}</div>
  </div>
</div>